body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 159, 249);
}

#thediv{
    height: 40vh;
    width: 20vw;
    background-color: skyblue;
    border-radius: 5%;
    padding-left:20px;
    margin-top:25vh;
    padding-top: 5px;
}

#user-input:focus{

   outline:none
   
}

#user-input{
    background-color: rgb(202, 215, 246);
    border:none;
    margin-left:10px;
    height:20px;
    width:250px;
    
}

#cloud-things{
    margin-bottom:20px;
    padding:0px;
}